body {
    text-align: center;
    font-family: sans-serif;
}
 
button {
    font-size: 30px;
    padding: 15px;
    margin: 10px;
    background-color: #e7e7e7;
}
button:hover {
    background-color: lightskyblue;
}
h1 {
    font-size: 50px;
}
span {
    font-size: 30px;
}
